<template name="components_index">
    <!-- 商品一覧パネル -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>契約一覧</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>商品ID</th>
                    <th>契約名</th>
                    <th>相手企業名</th>
                    <th>自社ポジション</th>
                    <th>期日</th>
                    <th>実行ステータス</th>
                    <th>契約詳細</th>
                </tr>
            </thead>
            <tbody>
        {{> contract}}
    </tbody>
</table>
</div>
</template>

<!-- 上記の{{contract}}に格納 -->
<template name="contract">
    <!-- index.js にcontractsのヘルパーを記載することで下記の{{}}内に変数が格納される -->
    {{#each contracts}}
      <tr>
          <td id="_id">{{_id}}</td>
          <td id="contract_name">{{contract_name}}</td>
          <td id="client_name">{{client_name}}</td>
          <td id="position">{{position}}</td>
          <td id="exeday">{{exeday}}</td>
      {{#if done}}
          <td><button type="button" class="btn btn-success">実行済</button></td>
      {{else}}
          <td><button type="button" class="btn btn-default">未実行</button></td>
      {{/if}}
      <td><button type="button" class="btn btn-warning"><a href ="/contract/{{_id}}" style="color:#fff;">契約詳細</a></button></td>
      </tr>
    {{/each}}
</template>
