<template name="components_index">
    <!-- 商品一覧パネル -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>デリバティブ商品一覧</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>商品ID</th>
                    <th>売手アドレス</th>
                    <th>BTC価格</th>
                    <th>BTC数量</th>
                    <th>実行日</th>
                    <th>プレミアム</th>
                    <th>ポジション</th>
                    <th>取引実行</th>
                </tr>
            </thead>
            <tbody>
        {{> contract}}
    </tbody>
</table>
</div>
</template>

<!-- 上記の{{contract}}に格納 -->
<template name="contract">
    <!-- index.js にcontractsのヘルパーを記載することで下記の{{}}内に変数が格納される -->
    {{#each contracts}}
    <tr>
        <td id="_id">{{_id}}</td>
        <td id="seller">{{seller}}</td>
        <td id="price">{{price}}</td>
        <td id="amount">{{amount}}</td>
        <td id="exeday">{{exeday}}</td>
        <td id="premium">{{premium}}</td>
        <td id="position">{{position}}</td>
        <td><button type="button" class="btn btn-success" id="{{contract_address}}">購入</button></td>
    </tr>
    {{/each}}
</template>
