<template name="components_info">
    <!-- information パネル -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>取引履歴</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>商品ID</th>
                    <th>売手アドレス</th>
                    <th>BTC価格</th>
                    <th>BTC数量</th>
                    <th>実行日</th>
                    <th>プレミアム</th>
                    <th>ポジション</th>
                    <th>購入日</th>
                    <th>実行済?</th>
                </tr>
            </thead>
            <tbody>
                <!-- 取引情報を配列で取得してきて繰り返しで並べる -->
                {{> transaction}}
            </tbody>
        </table>
    </div>
</template>

<!-- 上記の{{transaction}}に格納 -->
<template name="transaction">
    <!-- info.js にtransactionsのヘルパーを記載することで下記の{{}}内に変数が格納される -->
    {{#each transactions}}
    <tr>
        <td>{{_id}}</td>
        <td>{{seller}}</td>
        <td>{{price}}</td>
        <td>{{amount}}</td>
        <td>{{exeday}}</td>
        <td>{{premium}}</td>
        <td>{{position}}</td>
        <td>{{buy_date}}</td>
        <td>{{done}}</td>
    </tr>
    {{/each}}
</template>
