<template name="components_multiplyContract">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            <p>金利スワップ</p>
        </div>
        <div class="panel-body">
            {{#with TemplateVar.get 'state'}}
            {{#if isError}}
            <div class="alert alert-warning">
                契約のデプロイに失敗
                エラー :  "{{error}}".
            </div>
            {{/if}}

            {{#if isMining}}
            <div class="alert alert-info">
                マイニング中...
                <span class="badge text-right">
                    <i class="fa fa-cog fa-spin"></i>
                </span>
            </div>
            {{/if}}

            {{#if isMined}}
            <div class="alert alert-success">
                商品の登録が完了しました
            </div>
            <hr />
            <label>
                コントラクトのアドレス :
            </label>
            <input type="text" class="form-control"
            value="{{address}}" placeholder="Address" />
            <br />
            <hr />
            {{/if}}

            {{#if isInactive}}
            <p class="well well-info"> 商品情報を入力してください </p>
            <form class="conditions">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>商品情報</h4>
                    </div>
                    <table class="table main">
                        <tbody>
                            <tr>
                                <th scope="row">想定元本</th>
                                <td>
                                    <input type="number" name="price" placeholder="例：500,000" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">固定金利サイド</th>
                                <td>
                                    <input type="text" name="fixedSide" placeholder="例：丸の内銀行" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">変動金利サイド</th>
                                <td>
                                    <input type="text" name="floatedSide" placeholder="例：目黒商事" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">固定金利[%]</th>
                                <td>
                                    <input type="number" name="fixedRate" placeholder="例：2.0" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">変動金利[%]</th>
                                <td>
                                    TIBOR +
                                    <input type="number" name="spread" placeholder="例：1.0" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">契約日</th>
                                <td>
                                    <input type="text" name="issuedYear" placeholder="年" />
                                    <input type="text" name="issuedMonth" placeholder="月" />
                                    <input type="text" name="issuedDay" placeholder="日" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">満期日</th>
                                <td>
                                    <input type="text" name="expiredYear" placeholder="年" />
                                    <input type="text" name="expiredMonth" placeholder="月" />
                                    <input type="text" name="expiredDay" placeholder="日" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">デポジット</th>
                                <td>
                                    <input type="number" name="deposit" placeholder="例：10000" />
                                </td>
                            </tr>
                            <!-- <tr>
                                <th scope="row">ポジション</th>
                                <td>
                                    <label><input type="radio" name="position" value="fixed">固定金利</label>
                                    <label><input type="radio" name="position" value="floated">変動金利</label>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <input type="submit" class="btn btn-default center-block" value="金利スワップを作成する">
            </form>
            {{/if}}
            {{/with}}
        </div>
    </div>
</template>
